<%= form_with model: @book, local: true do |form| %>
<% if current_user %>
<div class="form">
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  <% else %>
    <%= link_to "Log in", new_user_session_path(@book) %><br />
  <% end %>
<% end %>
</div>
