<div class="wrap">
<h1 id="home">List of all Books</h1>
<nav>
  <%= link_to 'New Book', new_book_path %>
  <%= link_to 'Back', books_path %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

</nav>
<table class="home">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th>URL</th>
    <th>Image</th>
  </tr>

  <% @book.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.description %></td>
      <td><%= book.url %></td>
      <td><%= book.image_cache %></td>

      <td><%= link_to 'Show', book_path(book) %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Delete', book_path(book), method: :delete, data: {confirm: 'Are you sure?'}  %></td>
    </tr>
    </div>
  <% end %>

</table>
